<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title xmlns:th="http://www.thymeleaf.org">DoeMais RS</title>
    </head>
    <body>
    <p>Olá, <b><span th:text="${nome}"></span></b> !!</p>
    <p>Obrigado por cadastrar na plataforma DoeMais RS &nbsp;
    <img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool"/></p>
    <p>&nbsp;</p>
    <p><sub>Se voc&ecirc; n&atilde;o se cadastrou na plataforma, por favor, desconsiderar esse e-mail.</sub></p>
    <p>&nbsp;</p>

    </body>
</html>